@page "{id?}"
@model AutoLot.Web.Pages.Cars.DetailsModel
@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}
else
{
    <h1>Details for @Model.Entity.PetName</h1>
    @Html.DisplayFor(m => m.Entity)
    <div>
        <item-edit item-id="@Model.Entity.Id"></item-edit> |
        <item-delete item-id="@Model.Entity.Id"></item-delete> |
        <item-list></item-list>
    </div>
}
