@model IEnumerable<Car>

@{
    ViewData["Title"] = "Test of BaseCrudControler";
}

<h6>Test of method Index</h6>

@foreach (var item in Model)
{
    <h6>
        @item.Id&emsp;
        @item.MakeId&emsp;
        @item.PetName&emsp;
        @item.Color&emsp;
        @Convert.ToBase64String(item.TimeStamp)
    </h6>
}

<h6>Test Details</h6>
<a href="https://localhost:5001/TestBaseCrud/Details/5"> .../Details/5</a>&nbsp;
<a href="https://localhost:5001/TestBaseCrud/Details/"> .../Details/</a>&nbsp;
<a href="https://localhost:5001/TestBaseCrud/Details/215"> .../Details/215</a>&nbsp;
<br />
<br />

<h6>Test Create</h6>
<a href="https://localhost:5001/TestBaseCrud/Create"> .../Create</a>
<br />
<br />

<h6>Test Edit</h6>
<a href="https://localhost:5001/TestBaseCrud/Edit/1"> .../Edit/1</a>
<a href="https://localhost:5001/TestBaseCrud/Edit/"> .../Edit/</a>
<a href="https://localhost:5001/TestBaseCrud/Edit/303"> .../Edit/303</a>
<br />
<br />

<h6>Test Delete</h6>
<a href="https://localhost:5001/TestBaseCrud/Delete/1"> .../Delete/1</a>
<hr />

<h1>Custom Tag helpers</h1>

<item-details item-id="1"></item-details>
<item-delete item-id="1"></item-delete>
<item-edit item-id="1"></item-edit>
<item-create></item-create>
<item-list></item-list>


